<%= form_for [@category, @question] do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2 class="formerrors"><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li class="formerrors"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-6 columns">
          <div class="row">
            <div class="small-2 columns">
            </div>
            <div class="small-10 columns">
              <%= f.text_field :title, id: "title-field", placeholder: "Title" %><br>
              <%= f.text_area :description, id: "description-field", placeholder: "Description" %><br>
            </div>
          </div>
        </div>
        <div class="large-6 columns">
          <div class="row">
            <div class="small-2 columns">
            </div>
            <div class="small-10 columns">
              <div class="small-6 columns">
                <%= f.label :audio, for: "audio-field", class: "audio-label" %><br>
              </div>
              <div class="small-6 columns">
                <%= f.file_field :audio, id: "audio-field" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-2 columns">
            </div>
            <div class="small-10 columns">
              <div class="small-6 columns">
                <%= f.label :score, for: "score-field", class: "score-label" %><br>
              </div>
              <div class="small-6 columns">
                <%= f.file_field :score, id: "score-field" %>
              </div>
                <%= f.submit "Add Question", id: "submit-button", class: "button small radius" %>
            </div>
          </div>
        </div>
      </div>
        <div class="large-5 columns">
          <div class="row">
            <div class="small-6 columns">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
