<%= form_for [@category, @question] do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2 class="formerrors"><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li class="formerrors"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="column">
      <div class="row">
        <div class="small-6 columns">
          <div class="row">
            <div class="small-2 columns">

            </div>
            <div class="small-10 columns">
              <%= f.text_field :title, placeholder: "Title" %><br>
            </div>
          </div>
        </div>
        <div class="small-6 columns">
          <div class="row">
            <div class="small-2 columns">

            </div>
            <div class="small-10 columns">
              <%= f.text_area :description, placeholder: "Description" %><br>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-4 columns">
          <div class="row">
            <div class="small-3 columns">

            </div>
            <div class="small-9 columns">
              <%= f.text_field :tag_list, placeholder: "Tags (separated by commas)" %><br>
            </div>
          </div>
        </div>
        <div class="small-4 columns">
          <div class="row">
            <div class="small-3 columns">
              <%= f.label :score, for: "score-field", class: "formlabels right inline" %><br>
            </div>
            <div class="small-9 columns">
              <%= f.file_field :score %>
            </div>
          </div>
        </div>
        <div class="small-4 columns">
          <div class="row">
            <div class="small-3 columns">
              <%= f.label :audio, for: "audio-field", class: "formlabels right inline" %><br>
            </div>
            <div class="small-9 columns">
              <%= f.file_field :audio %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="column small-offset-1">
          <%= f.submit "Add Question", class: "button small radius" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
