<div class="row">
  <div class="large-3 columns">
    <div id="other_categories">
      <% @categories.each do |category| %>
      <ul id="list">
        <div id="category-list"><%= link_to category.name, category_path(category) %></div>
      </ul>
      <% end %>
    </div>
  </div>

  <div class="large-7 columns" id="box">
    <% @questions.each do |question| %>
      <div class="large-2 columns small-3"><%= image_tag("bass.png") %></div>
        <div class="large-10 columns" id="questions">
          <p><strong><%= link_to question.title, question_path(question) %></strong></p>
          <% if question.user.username == nil %>
            <div id="no-username">asked by anonymous on <%= question.user.created_at.to_s.gsub(/[UTC]/, '') %></div>
          <% else %>
            <div id="username">asked by <%= question.user.username %> on <%= question.user.created_at.to_s.gsub(/[UTC]/, '') %></div>
          <% end %>
          <ul class="inline-list">
            <li><%= link_to "edit", edit_question_path(question) %></li>
            <li><%= link_to "delete", question_path(question), method: :delete %></li>
          </ul>
        </div>
        <hr/>
      <% end %>
    </div>
    <hr/>
  </div>
</div>
