<body id="question-show">
  <div class="row">
    <div class="large-12 columns" id="question-title">
      <h3><%= @question.title %></h3><br>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns" id="question-description">
      <h6><%= @question.description %></h6>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <a class="lightbox" href="<%= @question.score %>" data-lightbox="clef">
        <img id="score" src="<%= @question.score %>" />
      </a>
    </div>
    <div class="large-6 columns">
      <audio controls>
        <source src="<%= @question.audio %>">
      </audio>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns" id="staff">
      <%= image_tag("staff.gif") %>
    </div>
    <div id="note-form">
      <%= render "scores/form" %>
    </div>
    <div class="note">
      <% @question.scores.each do |score| %>
        <% if score.first_note == "C" %>
          <div id="C1">
            <%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
          </div>
        <% end %>
        <% if score.first_note == "C#" %>
          <div id="Csharp1">
            <%= image_tag("sharp2.png", :class => "sharp") %><%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
          </div>
        <% end %>
        <% if score.first_note == "Db" %>
        <div id="Dflat1">
          <%= image_tag("flat.png", :class => "flat") %><%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
        </div>
        <% end %>
        <% if score.first_note == "D" %>
          <div id="D1">
            <%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
          </div>
        <% end %>
        <% if score.first_note == "D#" %>
          <div id="Dsharp1">
            <%= image_tag("sharp2.png", :class => "sharp") %><%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
          </div>
        <% end %>
        <% if score.first_note == "Eb" %>
        <div id="Eflat1">
          <%= image_tag("flat.png", :class => "flat") %><%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
        </div>
        <% end %>
        <% if score.first_note == "E" %>
          <div id="E1">
            <%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
          </div>
        <% end %>
        <% if score.first_note == "F" %>
          <div id="F1">
            <%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
          </div>
        <% end %>
        <% if score.first_note == "F#" %>
          <div id="Fsharp1">
            <%= image_tag("sharp2.png", :class => "sharp") %><%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
          </div>
        <% end %>
        <% if score.first_note == "Gb" %>
        <div id="Gflat1">
          <%= image_tag("flat.png", :class => "flat") %><%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
        </div>
        <% end %>
        <% if score.first_note == "G" %>
          <div id="G1">
            <%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
          </div>
        <% end %>
        <% if score.first_note == "G#" %>
          <div id="Gsharp1">
            <%= image_tag("sharp2.png", :class => "sharp") %><%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
          </div>
        <% end %>
        <% if score.first_note == "Ab" %>
        <div id="Ab1">
          <%= image_tag("flat.png", :class => "flat") %><%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
        </div>
        <% end %>
        <% if score.first_note == "A" %>
          <div id="A1">
            <%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
          </div>
        <% end %>
        <% if score.first_note == "A#" %>
          <div id="Asharp1">
            <%= image_tag("sharp2.png", :class => "sharp") %><%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
          </div>
        <% end %>
        <% if score.first_note == "Bb" %>
        <div id="Bflat1">
          <%= image_tag("flat.png", :class => "flat") %><%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
        </div>
        <% end %>
        <% if score.first_note == "B" %>
          <div id="B1">
            <%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
          </div>
        <% end %>
        <% if score.second_note == "C" %>
          <div id="C2">
            <%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
          </div>
        <% end %>
        <% if score.second_note == "C#" %>
          <div id="Csharp2">
            <%= image_tag("sharp2.png", :class => "sharp") %><%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
          </div>
        <% end %>
        <% if score.second_note == "Db" %>
        <div id="Dflat2">
          <%= image_tag("flat.png", :class => "flat") %><%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
        </div>
        <% end %>
        <% if score.second_note == "D" %>
          <div id="D2">
            <%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
          </div>
        <% end %>
        <% if score.second_note == "D#" %>
          <div id="Dsharp2">
            <%= image_tag("sharp2.png", :class => "sharp") %><%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
          </div>
        <% end %>
        <% if score.second_note == "Eb" %>
        <div id="Eflat2">
          <%= image_tag("flat.png", :class => "flat") %><%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
        </div>
        <% end %>
        <% if score.second_note == "E" %>
          <div id="E2">
            <%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
          </div>
        <% end %>
        <% if score.second_note == "F" %>
          <div id="F2">
            <%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
          </div>
        <% end %>
        <% if score.second_note == "F#" %>
          <div id="Fsharp2">
            <%= image_tag("sharp2.png", :class => "sharp") %><%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
          </div>
        <% end %>
        <% if score.second_note == "Gb" %>
        <div id="Gflat2">
          <%= image_tag("flat.png", :class => "flat") %><%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
        </div>
        <% end %>
        <% if score.second_note == "G" %>
          <div id="G2">
            <%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
          </div>
        <% end %>
        <% if score.second_note == "G#" %>
          <div id="Gsharp2">
            <%= image_tag("sharp2.png", :class => "sharp") %><%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
          </div>
        <% end %>
        <% if score.second_note == "Ab" %>
        <div id="Aflat2">
          <%= image_tag("flat.png", :class => "flat") %><%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
        </div>
        <% end %>
        <% if score.second_note == "A" %>
          <div id="A2">
            <%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
          </div>
        <% end %>
        <% if score.second_note == "A#" %>
          <div id="Asharp2">
            <%= image_tag("sharp2.png", :class => "sharp") %><%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
          </div>
        <% end %>
        <% if score.second_note == "Bb" %>
        <div id="Bflat2">
          <%= image_tag("flat.png", :class => "flat") %><%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
        </div>
        <% end %>
        <% if score.second_note == "B" %>
          <div id="B2">
            <%= link_to image_tag("quarter.png"), score_path(score), method: :delete %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns" id="answer-form">
      <%= render "answers/form" %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
        <div class="answers">
          <% @question.answers.each do |answer| %>
            <div>
              <div id="sharp"><%= link_to image_tag("sharp.gif"), like_answer_path(answer), method: :put %></div>
                <%= answer.score %>
                <%= best_in_place answer, :content, type: :textarea %> <span><%= link_to "delete", answer_path(answer), method: :delete %><span>
              <div id="flat"><%= link_to image_tag("flat.png"), dislike_answer_path(answer), method: :put %></div>
              <% if answer.user.username == nil %>
                <div id="no-useranswer">theorized by anonymous at <%= answer.user.created_at.to_s.gsub(/[UTC]/, '') %></div>
              <% else %>
                <div id="useranswer">theorized by <%= answer.user.username %> at <%= answer.user.created_at.to_s.gsub(/[UTC]/, '') %></div>
              <% end %>
              <hr/>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</body>
