<div class="row">
  <div class="large-12 columns" id="question-title">
    <h3><%= @question.title %></h3><br>
  </div>
</div>

<div class="row">
  <div class="large-12 columns" id="question-description">
    <h6><%= @question.description %></h6>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div id="score"><%= image_tag(@question.score) %></div>
    <div id="popup"><%= image_tag(@question.score) %></div>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <p></p>
  </div>
  <div class="large-4 columns">
    <audio controls>
      <source src="<%= @question.audio %>">
    </audio>
  </div>
  <div class="large-4 columns">
    <p></p>
  </div>
</div>

<canvas id="staff" width="50" height="50">
</canvas>

<div class="row">
  <div class="large-12 columns" id="answer-form">
    <%= render "answers/form" %>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
      <div class="answers">
        <% @question.answers.each do |answer| %>
          <div>
            <div id="sharp"><%= link_to image_tag("sharp.gif"), like_answer_path(answer), method: :put %></div>
              <%= answer.score %>
              <%= best_in_place answer, :content, type: :textarea %> <span><%= link_to "delete", answer_path(answer), method: :delete %><span>
            <div id="flat"><%= link_to image_tag("flat.png"), dislike_answer_path(answer), method: :put %></div>
            <hr/>
          </div>
        <% end %>
      </div>
  </div>
</div>
