<%= form_for [@question, @score] do |f| %>

  <div id="first_note">
    <div id="note1-label">
      <%= f.label :first_note, for: "first_note-field", class: "note1" %><br></li>
    </div>
    <div>
      <%= f.select :first_note, Score.all.map { |s| [s.first_note] }, id: "first_note-field" %></li>
    </div>
  </div>

  <div id="second_note">
    <div id="note2-label">
      <%= f.label :second_note, for: "second_note-field", class: "note2" %><br>
    </div>
    <div>
      <%= f.select :second_note, Score.all.map { |s| [s.second_note] }, id: "second_note-field" %>
    </div>
  </div>

  <div id="score-button">
    <%= f.submit "Add To Staff", class: "note-button" %>
  </div>
<% end %>
